@import "../js/vendor/lesshat/build/lesshat.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import "../js/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

@white: #fff;
@turquoise: #1abc9c;
@green-sea: #16a085;
@emerald: #2ecc71;
@nephritis: #27ae60;
@peter-river: #3498db;
@belize-hole: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@wet-asphalt: #34495e;
@midnight-blue: #2c3e50;
@sun-flower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
@clouds: #ecf0f1;
@silver: #bdc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;

@media all {
	body{
		background: @white;
		color: #333;
		font-family: 'Lato';
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'Lato';
	}

	a{
		color:@clouds;

		&:hover{
			color:@silver;
		}
	}

	#header{
		background: @white;
		color: @concrete;
		text-align: center;
		padding: 100px 50px;

		@media(max-width: @screen-sm-min){
			padding: 50px 25px 0;
		}

		h1{
			margin: 0;
			font-size: 300%;
			color: @wet-asphalt;
		}

		h2{
			margin-top: 0;
			color: @concrete;
			margin-bottom: 30px;
		}
	}

	.row{
		color: @white;
		padding: 50px 0;
		//text-align: center;
		&.overview{
			background: @peter-river;
		}

		&.iphone{
			background: @belize-hole;
		}

		&.support{
			background: @peter-river;
			text-align: center;
		}
	}

	.section-header {
		text-align: center;
		font-size: 150%;
	}

	.btn{
		.transition(all 300ms ease-in-out);

		&.btn-default{
			background: @nephritis;
			border-color: @nephritis;
			color: @white;

			&:hover, &:focus{
				background:@emerald;
				border-color: @emerald;
			}
		}

		&.btn-danger{
			background: @alizarin;
			border-color:@alizarin;

			&:hover, &:focus{
				background: @pomegranate;
				border-color: @pomegranate;
			}
		}

		&.btn-warning{
			background: @carrot;
			border-color: @carrot;

			&:hover, &:focus{
				background:@pumpkin;
				border-color: @pumpkin
			}
		}
	}


	#footer{
		background: @midnight-blue;
		padding: 20px;
		text-align: center;

		.navbar.navbar-default{
			background: transparent;
			border-color: transparent;
			min-height: 0;

			a{
				color: @white;
				padding: 0 20px;

				&:hover, &:focus{
					text-decoration: none;
				}
			}
		}

		.navbar-collapse{
		}

		.copy{
			color: @asbestos;
		}
	}


}