@import "../js/vendor/lesshat/build/lesshat.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import "../js/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

@clouds: #ecf0f1;
@white: #fff;
@midnight-blue: #2c3e50;
@wet-asphalt: #34495e;
@nephritis: #27ae60;

@media all {
	html, body, #app, #sidebar, #content{
		height: 100%;
	}

	body{
		background: @clouds;
		font-family: 'Lato';
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'Lato';
	}

	#sidebar{
		width: 250px;
		float:left;
		display: inline;
		background: @midnight-blue;
		overflow-y: auto;

		.btn{
			background: @wet-asphalt;
			color: #fff;
			border : 0 none;

			.transition(background 300ms ease-in-out);

			&:hover, &:focus{
				background: @nephritis;
			}
		}

		.actions{
			text-align: center;
		}
	}

	#content{
		position:relative;
		margin: 0 0 0 250px;
		overflow-y: scroll;
		padding: 50px;
	}

	#main{
		border: 0 none;
		background: transparent;

		li, a{
			color:#fff;
			.transition(background 300ms ease-in-out);

			&:hover, &:focus, .active{
				background: @wet-asphalt;
			}
		}
	}

	#logo{
		text-align: center;
		color: @white;
	}

	.nav-stacked > li {
		float: none;
		display: block;
	}

	.todo{
		&.add{
			padding-bottom: 30px;

			.btn{
				background: @wet-asphalt;
				border-color: @wet-asphalt;
				color: #fff;
				.transition(all 300ms ease-in-out);

				&:hover, &:focus{
					background: @nephritis;
					border-color: @nephritis;
				}
			}
		}

		.form-control{
			.box-shadow(0 0 transparent);
		}
	}

	.todos{
		list-style-type: none;
		margin: 0;
		padding: 0;

		.todo{
			margin-bottom: 10px;
			background: @white;
			border: 0 none;
			.border-radius(4px);

			&.edit{
				.btn.btn-default.save{
					.opacity(1);
					background: @midnight-blue;
					color: #fff;
					.transition(all 300ms ease-in-out);
					border-top-right-radius: 0;

					&:hover, &:focus{
						background: @nephritis;
						border-color: @nephritis;
					}
				}

				.form-control{
					border: 1px solid #cccccc;
				}
			}
		}

		.input-group{

			.btn-danger, .btn-default{
				.opacity(0);
				color: @midnight-blue;
			}

			&:hover, &:focus{
				.btn-danger, .btn-default{
					.opacity(1);
				}
			}
		}

		.input-group-addon, .input-group-btn, .form-control, .btn{
			border: 0 none;
			background: transparent;
		}
	}
}