@media all {
	#content {
		>.row {
			padding: 75px;
			@media(max-width: @screen-sm-min){
				padding: 25px;
			}

			&.top-features {
				background: @belize-hole;
				color: @white;
				text-align: center;

				.col-md-4{
					padding: 0 40px;

					@media(max-width: @screen-sm-min){
						padding: 0;
					}
				}

				h1{
					margin-bottom: 15px;

					&.icon{
						margin-top: 0;
					}
				}
			}

			&.about{
				background: @peter-river;
				color: @white;
				font-size: 120%;

				.left{
					text-align: center;
				}
			}

			&.download{
				background: @midnight-blue;
				color: @white;
				text-align: center;
			}

			&.video{
				text-align:center;
				background: @clouds;
				color: @midnight-blue;

				.section-header{


					p{
						color: @asbestos;
					}
				}
			}

			&.voices{
				background: @belize-hole;
				color: @white;
				text-align: center;
			}

			&.contact{
				.section-header{
					color: @asbestos;

					h1{
						color: @midnight-blue;
					}
				}
			}

			.actions{
				margin-top: 20px;
			}


		}

		.section-header {
			text-align: center;
			font-size: 150%;
		}
	}

	.video-frame{
		width: 640px;
		height: 360px;
		background: @midnight-blue;
		color: @white;
		margin: 0 auto;
		display: table;

		.video{
			display: table-cell;
			vertical-align: middle;
		}
	}

	#voices-slider{
		margin-top: 30px;
	}

	.voice{
		width:350px;
		height:180px;
		min-width:350px;
		min-height:180px;
		max-width:500px;
		max-height:230px;
		overflow:hidden;
		display:block;
		margin: 0 auto;
		text-align:center;
		padding: 0 20px;

		p{
			font-size: 120%;
		}

		footer{
			color: @silver;
		}
	}

	.address{
		h3{
			margin-top: 0;
		}
		address{
			p{
				margin: 0;
			}
			.name{
				font-size: 120%;
				font-weight: bold;
			}

			a{
				color:@asbestos;
			}
		}
	}
}