@media all{
	.form-control{
		background: @clouds;
		border-color: transparent;
		color: @concrete;
		.box-shadow(0 0 transparent);
		outline: 0 none;

		&:hover, &:focus{
			border-color: @concrete;
			color: @asbestos;
			.box-shadow(0 0 transparent);

		}
	}

	label.control-label{
		color:@asbestos;
	}
}