@media all{
	#header{
		.navbar{
			&.navbar-default{
				background: transparent;
				border: 0 none;
				margin-bottom: 0;
			}

			a{
				color: @peter-river;
				.transition(all 300ms ease-in-out);
			}

			.navbar-brand{
				font-weight: bold;
			}

			ul {
				a{
					&:hover, &:focus, .active & {
						background: @peter-river;
						color: @white;
						.border-radius(4px);
					}
				}
			}
		}
	}
}