@import "../js/vendor/lesshat/build/lesshat.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import "../js/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

@clouds: #ecf0f1;
@white: #fff;
@midnight-blue: #2c3e50;
@wet-asphalt: #34495e;
@nephritis: #27ae60;
@emerald: #2ecc71;
@silver: #bdc3c7;
@asbestos: #7f8c8d;
@pomegranate: #c0392b;

@import "modules/navigation.less";
@import "modules/landing.less";
@import "modules/content.less";
@import "modules/plans.less";
@import "modules/contact.less";

@media all {
	body{
		background: @clouds;
		color: #333;
		font-family: 'Lato';
	}

	#header{
		background: #fff;
	}

	#header, #footer{
		.navbar-brand{
			color:#333;
		}

		.navbar-nav a{
			color:#333;
		}
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'Lato';
	}



	.btn{
		.transition(all 150ms ease-in-out);

		&.btn-action{
			color: #fff;
			background: @nephritis;
			border-color:@nephritis;

			&:hover, &:focus{
				background: @emerald;
				border-color: @emerald;
			}
		}

		&.btn-secondary{
			color: @asbestos;
			background: transparent;
			border-color: @silver;
		}
	}
}