<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ToDo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/modernizr/modernizr.js"></script>
    <script src="js/vendor/jquery/jquery.js"></script>
    <script src="js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="app">
    <div id="sidebar">
        <h1 id="logo">
            ToDo
        </h1>
        <div class="actions">
            <a href="logout.html" class="btn btn-default">
                <span class="glyphicon glyphicon-off"></span>
                Logout
            </a>
        </div>
        <nav id="main" class="nav navbar">
            <ul class="nav nav-stacked">
                <li>
                    <a href="#" class="active">Shopping</a>
                </li>
                <li>
                    <a href="#">Design Project</a>
                </li>
                <li>
                    <a href="#">Shopping</a>
                </li>
            </ul>
        </nav>
        <div class="actions">
            <a ng-href="list/add" class="btn btn-default">Add Todolist</a>
        </div>
    </div>
    <main id="content">
        <form class="todo add">
            <div class="input-group">
                <input type="text" name="title" class="form-control" placeholder="Buy meal, play guitar..."/>
                <span class="input-group-btn">
                    <input type="submit" value="Add" class="btn btn-default"/>
                </span>
            </div>
        </form>
        <ul class="todos undone">
            <li class="todo">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="done"/>
                    </span>
                    <span class="form-control">Spaghetti</span>
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Assigned to">
                            <span class="glyphicon glyphicon-user">

                            </span>
                        </a>
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
            </li>
            <li class="todo">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="done"/>
                    </span>
                    <span class="form-control">Pizza</span>
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Assigned to">
                            <span class="glyphicon glyphicon-user">

                            </span>
                        </a>
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
            </li>
            <li class="todo edit">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="done"/>
                    </span>
                    <input type="text" value="ÖLlödksjfg" class="form-control"/>
                </div>
                <div class="input-group">
                    <input class="form-control" value="{{td.title}}"/>
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-default save">Save</a>
                    </span>
                </div>
            </li>
            <li class="todo">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="done"/>
                    </span>
                    <span class="form-control">{{td.title}}</span>
                    <span class="input-group-btn">
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Assigned to">
                            <span class="glyphicon glyphicon-user">

                            </span>
                        </a>
                        <a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </span>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>