@import "../js/vendor/lesshat/build/lesshat.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import "../js/vendor/bootstrap/less/bootstrap.less";
@icon-font-path: "../js/vendor/bootstrap/dist/fonts/";
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");

@import "modules/navigation.less";
@import "modules/content.less";

@white: #fff;
@turquoise: #1abc9c;
@green-sea: #16a085;
@emerald: #2ecc71;
@nephritis: #27ae60;
@peter-river: #3498db;
@belize-hole: #2980b9;
@amethyst: #9b59b6;
@wisteria: #8e44ad;
@wet-asphalt: #34495e;
@midnight-blue: #2c3e50;
@sun-flower: #f1c40f;
@orange: #f39c12;
@carrot: #e67e22;
@pumpkin: #d35400;
@alizarin: #e74c3c;
@pomegranate: #c0392b;
@clouds: #ecf0f1;
@silver: #bdc3c7;
@concrete: #95a5a6;
@asbestos: #7f8c8d;

@media all {
	body{
		background: @clouds;
		color: #333;
		font-family: 'Lato';
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'Lato';
	}

	#header{
		background: @wet-asphalt;
	}

	#landing{
		background: @emerald;
		color: @white;
		text-align: center;
		padding: 100px 50px 0;

		@media(max-width: @screen-sm-min){
			padding: 50px 25px 0;
		}

		h1{
			margin: 0;
			font-size: 350%;
		}

		h3{
			margin-top: 0;
		}

		.actions{
			margin-top: 20px;

			span{
				font-size: 18px;

				@media(max-width: @screen-sm-min){
					display: block;
					padding: 10px;
				}
			}
		}

		.btn{
			border-color: @wet-asphalt;
			background-color: @wet-asphalt;
			color: @white;
			.transition(all 300ms ease-in-out);
			.border-radius(4px);
			border-width: 2px;
			margin: 0 20px;

			&:hover, &:focus{
				color: @white;
				background: @midnight-blue;
			}

			h3,h5{
				margin: 0;
			}
		}
	}

}