@media all {
	#content {
		>.row {
			padding: 100px;
			@media(max-width: @screen-sm-min){
				padding: 25px;
			}

			&.about {
				background: @white;
				color: @asbestos;
			}

			&.features {
				background: @peter-river;
				color: @white;
				text-align: center;

				.row{
					padding: 25px;
				}
			}
		}

		.section-header {
			text-align: center;
			font-size: 150%;
		}
	}
}