@media all{
	#content{
		background: @white;

		>.row{
			padding: 50px 0;

			&.about{
				h1{
					margin-top: 0;
				}
			}

			&.plans{
				background: #34495e;

				.plans{
					width: 75%;
					margin : 0 auto;
				}
			}

			&.features{
				background: @clouds;
				text-align: center;

				.row{
					margin-bottom: 50px;
				}
			}

			&.voices{
				text-align: center;

				.voice{
					width: 50%;
					margin: 0 auto;
					padding: 20px 0;

					p{
						font-size: 120%;
					}

					footer{
						color: @asbestos;
					}
				}
			}
		}

		.col-xs-6{
			padding: 0 75px;
		}
	}

	.section-header{
		text-align: center;
		margin-bottom: 50px;

		.row.plans & {
			color: @white;
		}

		h1{
			font-size: 350%;
		}

		p{
			font-size: 180%;
		}
	}

	#footer{
		//background: @midnight-blue;
		padding: 50px;
		//color: @white;
	}
}
