@media all{
	.plan{
		@media (max-width: @screen-sm-min) {
			margin-top: 20px;
		}

		padding: 20px;
		.border-radius(4px);

		&.plan-primary{
			background: @white;
		}

		&.plan-secondary{
			background: @clouds;
		}

		h2{
			text-align: center;
			margin-top: 0;
		}

		.actions.center{
			text-align: center;
		}

		.price{
			text-align: center;
		}

		.features{
			list-style-type: none;
			padding: 0 20px;

			li{
				padding: 5px 0;
			}

			.glyphicon{
				margin-right: 5px;

				&.glyphicon-ok-sign{
					color: @nephritis;
				}

				&.glyphicon-minus-sign{
					color: @pomegranate;
				}
			}
		}
	}
}